<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="mb" class="com.Question3.Triangle" />

<bean id="c" class="com.Question3.Circle" />

<bean id="cl" class="com.Question3.Cylinder" />

<bean id="t" class="com.Question3.Start" >

<property name="d" ref="cl"/> 

</bean>

</beans>